<section class="main" id="banner">
    <ng-container *ngIf="items && items.length">
      <ngx-slick-carousel class="main__slider"
                          #slickModal="slick-carousel"
                          [config]="slideConfig">

        <a ngxSlickItem *ngFor="let item of items" class="main__slide" [style.background-image]="'url(' + item.image + ')'" [href]="item.link">
          <!--<div class="container">-->
          <!--<div class="main__content">-->
          <!--<h1 class="main__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>-->
          <!--<div class="main__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat sagittis lacus.</div>-->
          <!--</div>-->
          <!--</div>-->
        </a>

      </ngx-slick-carousel>
    </ng-container>
</section>
