.app-promo-banners {

  margin: 1.5rem;

  p-table {
    tr td.expand-cell {
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      tr {
        td:first-of-type {
          border-left: 0px;
        }
        td:last-of-type {
          border-right: 0px;
        }
      }
      tr:first-of-type td {
        border-top: 0px;
      }
      /deep/ tfoot tr:last-of-type td {
        border-bottom: 0px;
      }
    }
    .header-buttons {
      text-align: left;
    }
    .center {
      text-align: center;
    }
}

  p-button, button {
    margin: 3px;
  }
}

td.settings {
  .settings-label {
    width: 180px;
  }
}

td.image img {
  max-width: 300px;
  vertical-align: top;
}