.container-legal-entities {
  margin: 0 1.5rem;

  form {
    width: 40rem;
  }

  .container-table {
    margin-top: 1rem;
  }
}

.pickup-points-count {
  width: 185px;
}

.terminals-count {
  width: 115px;
}

.dates-range {
  width: 270px;
}