<section class="cart info-pages">
  <div class="container">
    <div class="shipping rv-flex">
      <div class="shipping__helpful-section">
        <sidebar-helpful></sidebar-helpful>
      </div>
      <div class="shipping__info-section">

        <div class="header-section">
          <h2 class="title normal">Оплачивайте полкупки удобным для Вас способом</h2>
          <h4 class="subtitle">Доступные методы оплаты:</h4>
        </div>

        <div class="payment-methods-section">
          <div class="payment-methods-section__inner rv-flex rv-flex-align-center">
            <figure class="payment-methods-section__inner__icon">
              <img src="assets/images/icons/cards-new.svg" alt="cards.svg" />
            </figure>
            <div class="payment-methods-section__inner__label">
              <h4 class="text">Банковские карты</h4>
            </div>
          </div>

          <div class="payment-methods-section__inner rv-flex rv-flex-align-center">
            <figure class="payment-methods-section__inner__icon">
              <img src="assets/images/icons/apple-new.svg" alt="apple.svg" />
            </figure>
            <div class="payment-methods-section__inner__label">
              <h4 class="text">Apple Pay</h4>
            </div>
          </div>

          <div class="payment-methods-section__inner rv-flex rv-flex-align-center">
            <figure class="payment-methods-section__inner__icon">
              <img src="assets/images/icons/google-colors.svg" alt="google.svg" />
            </figure>
            <div class="payment-methods-section__inner__label">
              <h4 class="text">Google Pay</h4>
            </div>
          </div>

          <div class="payment-methods-section__inner rv-flex rv-flex-align-center">
            <figure class="payment-methods-section__inner__icon">
              <img src="assets/images/icons/samsung.svg" alt="samsung.svg" />
            </figure>
            <div class="payment-methods-section__inner__label">
              <h4 class="text">Samsung Pay</h4>
            </div>
          </div>

          <div class="payment-methods-section__inner rv-flex rv-flex-align-center">
            <figure class="payment-methods-section__inner__icon">
              <img src="assets/images/icons/yandex.svg" alt="yandex.svg" />
            </figure>
            <div class="payment-methods-section__inner__label">
              <h4 class="text">Yandex Pay</h4>
            </div>
          </div>

          <div class="payment-methods-section__inner rv-flex rv-flex-align-center">
            <figure class="payment-methods-section__inner__icon">
              <img src="assets/images/icons/sbp.png" alt="sbp.png" />
            </figure>
            <div class="payment-methods-section__inner__label">
              <h4 class="text">СБП</h4>
            </div>
          </div>
        </div>

        <div class="footer-section rv-flex rv-flex-btw rv-margin-t-50">
          <div class="footer-section__inner">
            <p class="text small">Все платежи обрабатываются сервисом <a class="link">RBK.money.</a> Сервис соответствует стандарту
              безопасности <a class="link">PCI DSS v 3.2.1</a> и требованиям положения ЦБ РФ № 382-П от 09.06.2012 г.</p>
          </div>
          <div class="rv-flex payment-icon rv-padding-x-20 rv-flex-center">
            <figure class="payment-icon__inner">
              <img src="assets/images/rbk.png" />
            </figure>
            <figure class="payment-icon__inner">
              <img src="assets//images/icons/visa.svg" />
            </figure>
            <figure class="payment-icon__inner">
              <img src="assets//images/icons/Master.svg" />
            </figure>
            <figure class="payment-icon__inner">
              <img src="assets//images/icons/mir.jpg" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>