@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.search-results {
    &__header {
        .tab {
            margin: 1px 5px;
            cursor: pointer;
        }

        .link-button {
            color: $colorDark;
            font-weight: 600;
            text-decoration: underline;
        }
    }

    .cards-result__filter {
        input[type="checkbox"] {
            width: 40px;
            height: 40px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 9px;
        }

        input[type="checkbox"]:checked {
            background-size: 20px;
        }

        .label {
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            color: $colorDark;
        }
    }

    .subject-info {
        display: flex;
        justify-content: left;
    }

    .subject-image {
        width: 300px;
        height: 235px;
        display: flex;
        justify-content: left;
        margin: 10px 20px 0 0;

        img {
            width: auto;
            height: auto;
            max-width: 300px;
            max-height: 235px;
            object-fit: cover;
        }
    }

    h3 {
        margin-bottom: 20px;
    }

    .cards-sort {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: left;

        > * {
            margin: 0 15px 0 0;
        }
    }

    .tab-content {
        margin: 40px 0 0 0;
    }
}
