<div class="container">
  <div class="app-text-pages">
  <h4>Текстовые страницы</h4>

  <p-table [value]="pages" dataKey="id" (onRowReorder)="reorder()">
    <ng-template pTemplate="header">
      <tr>
        <th width="300px">Страница</th>
        <th width="100px">Публиковать</th>
        <th width="100px">Порядок</th>
        <th width="300px">Действия</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index="rowIndex">
      <tr *ngIf="row.isFirstRow" class="first-row">
        <td style="padding: 0" colspan="4"></td>
      </tr>
      <tr *ngIf="!row.isFirstRow" [pReorderableRow]="index">
        <td>
          {{row.title}}
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="row.isPublished" (ngModelChange)="isPublishedChange(row, $event)" />
        </td>
        <td>
          <i class="fa fa-sort" pReorderableRowHandle style="font-size: 3em"></i>
        </td>
        <td>
          <p-button label="Редактировать" (click)="edit(row)"></p-button>
          <ng-container *ngIf="!row.isSystem">
            &nbsp;
            <p-button label="Удалить" (click)="delete(row)"></p-button>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="add">
    <p [routerLink]="['/admin/main/text-pages/add']">+ Добавить текстовую страницу</p>
  </div>
</div>
</div>
