<div class="sidebar-helpful block rv-flex rv-flex-column">
  <div class="small-subtitle bold rv-margin-b-15">
    Может быть полезно:
  </div>
  <ul>
    <li>
      <a routerLinkActive="active-link" class="text" [routerLink]="['/about']">
        О нас
      </a>
    </li>
    <li>
      <a routerLinkActive="active-link" class="text" [routerLink]="['/blog']">
        Блог
      </a>
    </li>
    <li>
      <a routerLinkActive="active-link" class="text" [routerLink]="['/howto']">
        Как заказать?
      </a>
    </li>
    <li>
      <a routerLinkActive="active-link" class="text" [routerLink]="['/shipping']">
        Доставка и оплата
      </a>
    </li>
    <li>
      <a routerLinkActive="active-link" class="text" [routerLink]="['/faq']">
        FAQ
      </a>
    </li>
    <li>
      <a routerLinkActive="active-link" class="text" [routerLink]="['/contacts']">
        Контакты
      </a>
    </li>
  </ul>
</div>