/* colors */

$colorWhite: #ffffff;
$colorLightGray: #fafafa;
$colorGray: #808080;
$colorDark: #292929;
$colorRubinate: #bf4342;
$colorIbis: #ee1122;
$colorGreen: #28b446;
$colorBorder: #c4c4c4;

$red: #bf4342;
$grey: #2a2a2a;
$green: #0f8d39;
$trans: all 0.2s ease-in-out;

/* colors end */

/* spacing */

$rv-spacing-0: 0px;
$rv-spacing-1: 1px;
$rv-spacing-2: 2px;
$rv-spacing-3: 3px;
$rv-spacing-4: 4px;
$rv-spacing-5: 5px;
$rv-spacing-6: 6px;
$rv-spacing-7: 7px;
$rv-spacing-8: 8px;
$rv-spacing-9: 9px;
$rv-spacing-10: 10px;
$rv-spacing-11: 11px;
$rv-spacing-12: 12px;
$rv-spacing-13: 13px;
$rv-spacing-14: 14px;
$rv-spacing-15: 15px;
$rv-spacing-16: 16px;
$rv-spacing-17: 17px;
$rv-spacing-18: 18px;
$rv-spacing-19: 19px;
$rv-spacing-20: 20px;
$rv-spacing-21: 21px;
$rv-spacing-22: 22px;
$rv-spacing-23: 23px;
$rv-spacing-24: 24px;
$rv-spacing-25: 25px;
$rv-spacing-26: 26px;
$rv-spacing-27: 27px;
$rv-spacing-28: 28px;
$rv-spacing-29: 29px;
$rv-spacing-30: 30px;
$rv-spacing-31: 31px;
$rv-spacing-32: 32px;
$rv-spacing-33: 33px;
$rv-spacing-34: 34px;
$rv-spacing-35: 35px;
$rv-spacing-36: 36px;
$rv-spacing-37: 37px;
$rv-spacing-38: 38px;
$rv-spacing-39: 39px;
$rv-spacing-40: 40px;
$rv-spacing-41: 41px;
$rv-spacing-42: 42px;
$rv-spacing-43: 43px;
$rv-spacing-44: 44px;
$rv-spacing-45: 45px;
$rv-spacing-46: 46px;
$rv-spacing-47: 47px;
$rv-spacing-48: 48px;
$rv-spacing-49: 49px;
$rv-spacing-50: 50px;

/* spacing end */
