<section class="cart">
  <div class="container">
    <h2>Восстановление пароля</h2>

    <div class="sidebar-wrapper">
      <div class="column">
        <h3>Посмотрите пароль на почте</h3>
        <div class="cart__desc">Ваш первый , а так же все измененные пароли отправлялись на Вашу почту. <br> Посмотрите, скорее всего пароль находится в одном из последних от нас писем</div>

        <h3>Восстановить пароль</h3>
        <div class="cart__desc">Если вы уже регистрировались на сайте - укажите Ваш адрес электронной почты и <br> мы отправим ссылку для восстановления пароля.  </div>

        <form [formGroup]="restoreForm">
          <div class="input-group">
            <div>
              <input formControlName="email" [ngClass]="{'error': hasError(f.email)}" type="email" placeholder="Ваш E-mail">
              <label *ngIf="hasError(f.email)" class="field-error">Поле заполнено неверно</label>
            </div>
          </div>
          <button [disabled]="restoreForm.invalid" (click)="restore()" class="btn btn-red" style="margin-top: 35px">Отправить ссылку<span class="hide"> на восстановление пароля</span></button>
        </form>
      </div>
      <div class="sidebar" style="width: 320px;"></div>
    </div>
  </div>
</section>
