<section class="cart" *ngIf="restoreParams.userId && restoreParams.code">
  <div class="container">
    <h2>Придумайте себе новый пароль</h2>

    <div class="sidebar-wrapper">
      <div class="column">

        <form [formGroup]="restoreForm">
          <div class="form-field__text">
            <input [ngClass]="{'error': hasError(f.password)}" type="password"
                   formControlName="password" placeholder="Введите новый пароль">
            <label *ngIf="hasError(f.password)" class="field-error">Поле заполнено неверно</label>
          </div>
          <div class="form-field__text">
            <input [ngClass]="{'error': hasError(f.confirmPassword)}" type="password" class=""
                   formControlName="confirmPassword" placeholder="Повторите пароль">
            <label *ngIf="hasError(f.confirmPassword)" class="field-error">Поле заполнено неверно</label>
          </div>

          <button class="btn btn-red" style="margin-top: 35px" [disabled]="restoreForm.invalid" (click)="restore()">
            Готово
          </button>
        </form>
      </div>
      <div class="sidebar" style="width: 320px;">

      </div>
    </div>
  </div>
</section>
