<!-- END CONTENT  -->
<footer class="footer">
  <div class="container rv-flex">
    <div class="footer__col footer__group">
      <div class="footer__copy-group rv-flex rv-flex-column">
        <figure>
          <img src="/assets/images/logo-white.png" alt="" class="footer__logo">
        </figure>
        <div class="footer__copy isMobile">Все права защищены <br> © WOOWCARD, 2021</div>
      </div>


      <div class="footer__icon-group rv-flex rv-flex-column">
        <div class="footer__social">
          <span>Мы в социальных сетях</span>

          <div class="list">
            <a href="javascript:void(0)"><svg class="icon">
                <use xlink:href="/assets/images/symbol-defs.svg#icon-vk"></use>
              </svg></a>
            <a href="javascript:void(0)"><svg class="icon">
                <use xlink:href="/assets/images/symbol-defs.svg#icon-fb"></use>
              </svg></a>
            <a href="javascript:void(0)"><svg class="icon">
                <use xlink:href="/assets/images/symbol-defs.svg#icon-twitter"></use>
              </svg></a>
            <a href="javascript:void(0)"><svg class="icon">
                <use xlink:href="/assets/images/symbol-defs.svg#icon-instagram"></use>
              </svg></a>
          </div>
        </div>

        <div class="footer__copy isDesktop">Все права защищены <br> © WOOWCARD, 2021</div>
      </div>
    </div>
    <div class="footer__info rv-flex rv-flex-btw">
      <div class="footer__col">
        <div class="footer__title">Блок</div>

        <a href="javascript:void(0)">Перечень</a>
        <a href="javascript:void(0)">Пунктов</a>
        <a href="javascript:void(0)">В процессе</a>
        <a href="javascript:void(0)">Формирования</a>
      </div>
      <div class="footer__col">
        <div class="footer__title">Блок</div>

        <a href="javascript:void(0)">Перечень</a>
        <a href="javascript:void(0)">Пунктов</a>
        <a href="javascript:void(0)">В процессе</a>
        <a href="javascript:void(0)">Формирования</a>
      </div>
      <div class="footer__col">
        <div class="footer__title">Блок</div>

        <a href="javascript:void(0)">Перечень</a>
        <a href="javascript:void(0)">Пунктов</a>
        <a href="javascript:void(0)">В процессе</a>
        <a href="javascript:void(0)">Формирования</a>
      </div>
    </div>
  </div>
</footer>