<!-- END CONTENT  -->
<footer class="footer">
  <div class="container">
    <div class="footer__col">
      <img src="/assets/images/logo-white.png" alt="" class="footer__logo">

      <div class="footer__social">
        <span>Мы в социальных сетях</span>

        <div class="list">
          <a href="javascript:void(0)"><svg class="icon"><use xlink:href="/assets/images/symbol-defs.svg#icon-vk"></use></svg></a>
          <a href="javascript:void(0)"><svg class="icon"><use xlink:href="/assets/images/symbol-defs.svg#icon-fb"></use></svg></a>
          <a href="javascript:void(0)"><svg class="icon"><use xlink:href="/assets/images/symbol-defs.svg#icon-twitter"></use></svg></a>
          <a href="javascript:void(0)"><svg class="icon"><use xlink:href="/assets/images/symbol-defs.svg#icon-instagram"></use></svg></a>
        </div>
      </div>

      <div class="footer__copy">Все права защищены <br> © WOOWCARD, 2021</div>
    </div>
    <div class="footer__col">
      <div class="footer__title">Блок</div>

      <a href="javascript:void(0)">Перечень</a>
      <a href="javascript:void(0)">Пунктов</a>
      <a href="javascript:void(0)">В процессе</a>
      <a href="javascript:void(0)">Формирования</a>
    </div>
    <div class="footer__col">
      <div class="footer__title">Блок</div>

      <a href="javascript:void(0)">Перечень</a>
      <a href="javascript:void(0)">Пунктов</a>
      <a href="javascript:void(0)">В процессе</a>
      <a href="javascript:void(0)">Формирования</a>
    </div>
    <div class="footer__col">
      <div class="footer__title">Блок</div>

      <a href="javascript:void(0)">Перечень</a>
      <a href="javascript:void(0)">Пунктов</a>
      <a href="javascript:void(0)">В процессе</a>
      <a href="javascript:void(0)">Формирования</a>
    </div>
  </div>
</footer>
