.cart-container {
    .table-container {
        margin-right: 20px;
        display: inline-block;
        max-width: 850px;
    }

    .right-column {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        
        .order-box {
            vertical-align: top;
            padding: 10px;
            border: 5px solid #aaa;
            display: inline-block;

            h3 { margin-top: 0; }
        }

        .countdown-box {
            padding: 10px;
            border: 5px solid #f99;

            .header {
                color: #f99;
            }
        }
    }

    .table-header {
        background: #aaa;   
    }

    .cart-table .table-img {
        max-width: 90px;
    }

    .cart-table td {
        vertical-align: top;
        margin: 0 5px 0 5px;
        width: auto;
    }

    .cart-table td input {
        width: 50px;
    }

    .deleted {
        opacity: 0.4;
    }
}