.container-blog-post-card {
  margin: 0 1.5rem;

  justify-content: space-between;
  .container-menu {
    margin-right: 40px;

    h2{
      font-size: 24px;
      margin-bottom: 1rem;
    }

    button {
      display: block;
      margin: 4px 1px;
      background-color: #e7e7e7;
      border: none;
      padding: 9px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      width: 225px;
    }
  }
  .info {
    flex: 2;
    
    form {
      width: 40rem;

      h1{
        font-size: 30px;
        margin-bottom: 1rem;
      }
      h2{
        font-size: 24px;
        margin-bottom: 1rem;
      }
      .date-create {
        display: flex;
        justify-content: space-between;
        width: 40rem;
        margin: 1rem 0;
        p:first-child { flex: 1}
        p:last-child { flex: 2}
      }
    }
  }
}

.save-info {
  display: flex;
}

.ck.ck-content.ck-editor__editable {
  height: 400px;
}

form .input-group label {
  flex: 0 300px;
}

div.wrapper input[type=checkbox] {
  width: auto;
}

rs-image-upload .image-upload .input-group p.title {
  flex: 0 300px;
}