<rs-carousel [items]="catalogBanner" [isMultiple]="false"></rs-carousel>

<div class="container">

  <div *ngIf="catalog" class="catalog-home-container">

    <section class="section">
      <div class="container">
        <h3>{{catalog.name}}</h3>

        <div class="series">
          <div class="series__inner">
            <div class="subject-image" align="left">
              <img src="{{catalog.image}}">
            </div>

            <div class="series__description">
              <span>{{catalog.extendedDescription}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <ng-container *ngIf="catalogMode == 'ThemeNoSeriesNoSet' || catalogMode == 'Set'">

      <section class="filter">
        <div class="container">
          <div class="filter__name">Сортировать:</div>

          <a href="javascript:void(0)" class="btn btn-black"
            [ngClass]="{'btn-black': cardsFilter.orderColumn === 'Price'}" (click)="setOrder('Price')"
            [attr.disabled]="this.loadingCards ? '' : null">
            <span>По цене</span>
          </a>

          <a href="javascript:void(0)" class="btn" [ngClass]="{'btn-black': cardsFilter.orderColumn === 'Updated'}"
            (click)="setOrder('Updated')" [attr.disabled]="this.loadingCards ? '' : null">
            <span>По новизне</span>
          </a>

          <div class="checkbox">
            <input type="checkbox" [(ngModel)]="cardsFilter.showSoldOut" (ngModelChange)="reloadCards()"
              [attr.disabled]="this.loadingCards ? '' : null" id="c1">
            <label for="c1">Показывать закончившиеся карточки</label>
          </div>
        </div>
      </section>

      <div class="section">
        <div class="container">
          <div class="player__list rv-cards">
            <div class="rv-card" *ngFor="let card of this.cards" [class.isActive]="card.printCountLeft">
              <div class="isDisabled" *ngIf="!card.printCountLeft"></div>
              <div class="player__item rv-padding-20" [ngClass]="{'out': !card.printCountLeft}">
                <div class="player__photo">
                  <ng-container *ngIf="card.previewImage; else default">
                    <img [src]="card.previewImage" [alt]="card.previewImage" class="img">
                  </ng-container>
                  <ng-template #default>
                    <div class="img-default"></div>
                  </ng-template>
                  <!-- for example -->
                  <!-- <div class="sale rv-flex rv-flex-center" *ngIf="card.isSale > 0">
                    {{card.isSalePercent}}%
                  </div> -->
                  <div class="sale rv-flex rv-flex-center">
                    -25%
                  </div>
                  <div class="cart-quantity rv-flex rv-flex-center" *ngIf="card.cartQuantity > 0">
                    <img src="assets/images/icons/cart.svg" class="rv-margin-r-2" alt="cart.svg" />
                    {{card.cartQuantity}}
                  </div>
                </div>
                <ul class="player__desc">
                  <li class="player__name line-height-20" [innerHtml]="card.title"></li>

                  <ng-container *ngIf="!card.unlimited">
                    <li class="player__count text line-height-20">Осталось: <span>{{card.printCountLeft}}</span>
                      шт.</li>
                  </ng-container>

                  <ng-container *ngIf="card.printCount">
                    <li class="player__reating text line-height-20">Рейтинг: <span>{{card.printCount}}</span>
                    </li>
                  </ng-container>

                  <li class="player__price">
                    <ng-container *ngIf="card.printCountLeft; else isSalePrice">
                      <span class="price line-height-20">{{card.price}}</span> ₽
                    </ng-container>

                    <ng-template #isSalePrice>
                      <div class="rv-flex rv-flex-besline">
                        <p class="text old-price line-height-20">
                          <!-- {{card.currnetPrice}} ₽ -->
                          200 ₽
                        </p>
                        <p class="text new-price rv-margin-l-18 line-height-20">
                          <!-- {{card.isSale}} ₽ -->
                          150 ₽
                        </p>
                      </div>
                    </ng-template>

                    <ng-container *ngIf="!card.printCountLeft">
                      <p class="ended line-height-20">Закончились</p>
                    </ng-container>
                  </li>
                </ul>
                <div class="player__controls">
                  <a href="javascript:void(0)" class="btn btn-red" *ngIf="card.unlimited || card.printCountLeft > 0"
                    (click)="addToCart($event, card)">
                    <span *ngIf="card.cartQuantity">В корзине - {{card.cartQuantity}} шт</span>
                    <span *ngIf="!card.cartQuantity">В корзину</span>
                  </a>
                  <a href="javascript:void(0)" class="btn" (click)="openCard(card)">Просмотр</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="catalogMode == 'ThemeHasSeriesNoSet' || catalogMode == 'ThemeHasSeriesHasSet'">
      <rs-card-list [cardList]="series" (handleShowMore)="loadAllSeries()"
        [showMoreTitle]="!allSeriesLoaded ? 'Показать все серии' : ''" cardLinkTitle="Смотреть Серию"
        cardsTitle="Топ серии" cardClass="card__inner--large"></rs-card-list>
    </ng-container>

    <ng-container *ngIf="catalogMode == 'ThemeHasSeriesHasSet' || catalogMode == 'Series'">
      <rs-card-list [cardList]="sets" (handleShowMore)="loadAllSets()"
        [showMoreTitle]="!allSetsLoaded && catalogMode == 'Series' ? 'Показать все комплекты' : ''"
        cardLinkTitle="Смотреть комплект" cardsTitle="Топ комплекты" cardClass="card__inner--small"></rs-card-list>
    </ng-container>
  </div>
</div>